# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
env/

# Ignore sensitive configuration files
config.py
.env

# Ignore data files
*.csv
*.xlsx

# Ignore model files
*.joblib